<footer class="bg-dark text-white pt-5">

  <div class="container">

    <div class="row">

      <!-- INFO -->
      <div class="col-md-4 mb-3">
        <h5>Mercado Piura</h5>
        <p>
          Sistema de gestión de alquiler de puestos comerciales,
          control de socios, deudas y pagos en tiempo real.
        </p>
      </div>


      <!-- CONTACTO + ICONOS -->
      <div class="col-md-4 mb-3">
        <h5>Contacto</h5>

        <p class="mb-1">Piura - Perú</p>
        <p class="mb-3">Administración del mercado</p>

        <div class="d-flex gap-3 fs-5">
          <a href="#" class="text-white"><i class="fa fa-facebook"></i></a>
          <a href="#" class="text-white"><i class="fa fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fa fa-whatsapp"></i></a>
          <a href="#" class="text-white"><i class="fa fa-github"></i></a>
        </div>
      </div>

    </div>

    <hr class="bg-light">

    <div class="text-center py-3">

      <p class="mb-1">
        Sistema desarrollado en <strong>Angular</strong> + <strong>Spring Boot</strong>
      </p>

      <small>
        © 2026 Mercado de Puestos Piura - Todos los derechos reservados
      </small>

    </div>

  </div>

</footer>
